{% load wagtailcore_tags wagtailimages_tags %}

<div class="row{% if value.image.image %} align-items-center{% endif %}">

    {% if not value.image.image %}
        {% if value.heading %}
            {% include_block value.heading %}
        {% endif %}
        <div class="col-12">{{ value.content|safe }}</div>
    {% elif not value.content %}
        {% if value.heading %}
            {% include_block value.heading %}
        {% endif %}
        <div class="col text-center">
            {% image value.image.image width-600 %}
        </div>
    {% else %}
        <!-- Text block -->
        <div class="col col-6{% if value.direction == 'rtl' %} order-md-2{% endif %} ">

            {% include_block value.heading %}

            {{ value.content|safe }}
        </div>
        <!-- Image block -->
        <div class="col col-6 order-1">
            {% image value.image.image width-600 %}
        </div>

    {% endif %}

</div>