{% load wagtailcore_tags wagtailimages_tags %}

<div class="row{% if value.image.image %} align-items-center{% endif %}">

    {% if not value.image.image %}
        {% if value.heading %}
            {% include_block value.heading %}
        {% endif %}
        <div class="col-12">
        {% if value.embed %}
            {{ value.embed|safe }}
        {% endif %}
        {% if value.content %}
            {{ value.content|richtext|safe }}
        {% endif %}
        </div>
    {% elif not value.content and not value.embed %}
        {% if value.heading %}
            {% include_block value.heading %}
        {% endif %}
        <div class="col text-center">
            {% image value.image.image width-600 %}
        </div>
    {% else %}
        <!-- Text block -->
        <div class="col col-12 col-md-6{% if value.direction == 'rtl' %} order-md-2{% endif %} ">
            {% include_block value.heading %}
            {% if value.embed %}
                {{ value.embed|safe }}
            {% endif %}
            {% if value.content %}
                {{ value.content|safe }}
            {% endif %}
        </div>
        <!-- Image block -->
        <div class="col col-12 col-md-6 order-1">
            {% image value.image.image width-600 %}
        </div>

    {% endif %}

</div>