{% load static %}

{#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">#}
<link rel="stylesheet" href="{% static 'web/assets/css/vendor/fontawesome.css' %}">
<link rel="stylesheet" href="{% static 'web/assets/css/plugins/swiper.css' %}">
<link rel="stylesheet" href="{% static 'web/assets/css/plugins/odometer.css' %}">
<link rel="stylesheet" href="{% static 'web/assets/css/vendor/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'web/assets/css/vendor/bootstrap.min.css' %}">

<!-- custom css -->
<link rel="stylesheet" href="{% static 'web/assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'web/assets/css/custom.css' %}">