{% load static %}

<script type="text/javascript" src="{% static 'web/assets/js/vendor/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/vendor/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/vendor/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/plugins/odometer.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/vendor/appear.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/vendor/jquery-one-page-nav.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/plugins/swiper.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/plugins/gsap.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/plugins/splittext.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/plugins/scrolltigger.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/plugins/scrolltoplugins.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/plugins/smoothscroll.js' %}"></script>

<script type="text/javascript" src="{% static 'web/assets/js/vendor/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/vendor/waw.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/plugins/isotop.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/plugins/animation.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/plugins/contact.form.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/vendor/backtop.js' %}"></script>
<script type="text/javascript" src="{% static 'web/assets/js/plugins/text-type.js' %}"></script>

<script type="text/javascript" src="{% static 'web/assets/js/main.js' %}"></script>
